{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="{% static 'effects.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" href="{% static 'stylemenu.css' %}" />
    <link rel="icon" href="{% static 'portfolio/Avatar1-small.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/css3finalize/4.1.0/jquery.css3finalize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/core-js@3.34.0/internals/export.min.js"></script>
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?version=3.111.0&features=default"></script>
</head>

<body class="preload">

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <header id="obj1" class="row tag">
        <div class="d-flex justify-content-between ml-auto tag"
            style="margin-top: 0vw;background-color: #000;padding: 1vw; color: #fff;">
            <a style="text-decoration: none; display: flex; justify-content: center; text-align: center; margin-left: 5.7vw;"
                href="/">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="tag">
                    <defs style="margin: 0;">
                        <filter id="XFmznQhx9lM_1" class="jsx-715889512" style="margin: 0;">
                            <feColorMatrix type="matrix"
                                values="0.31640625 0 0 0 0.33984375 0.99609375 0 0 0 0 -0.99609375 0 0 0 0.99609375 0 0 0 1 0"
                                color-interpolation-filters="sRGB" class="jsx-715889512"></feColorMatrix>
                        </filter>
                    </defs>
                    <image href="{% static 'portfolio/Avatar2.png'%}" alt="" class="jsx-715889512 imagen-filtrada"
                        height="100%" loading="lazy"></image>
                </svg>
            </a>
            <div class="row justify-content-center my-4" style="margin-right: 33.5vw;">
                <div class="text-center textg" style="margin-top: auto; margin-bottom: auto;">
                    <h3><span
                            style="background-color: #000;margin-left: 2vw;font-size: 2vw; font-weight: 700; text-transform: uppercase;">Frequently
                            Asked Questions</span></h3>
                    <p><span
                            style="background-color: #000;margin-left: 2vw; font-size: 1.2vw; font-weight: 700; text-transform: uppercase;color: #fff;">Here
                            are answers to some common questions</span></p>
                </div>
            </div>
        </div>
    </header>


    <div id="obj2" class="row tag" style="margin-top: auto; margin-bottom: auto; height: 100vh;">
        <div class="col-md-70 my-auto p-1"
            style="margin-right: -5vw; margin-left: 1vw; margin-top: auto; margin-bottom: auto;">
            <div class="faq-container tag row" style="margin-top: 1.5vh;">
                <div class="faq-item" style="background: #5700FF;">
                    <div class="faq-question textg backtxt"
                        style="font-size: 3.8vh; height: 8vh; align-items: center; display: flex; text-transform: uppercase; background: #a8ff00;">
                        Can you work with clients remotely? [+]</div>
                    <div class="faq-answer"
                        style="font-size: 2.3vh; color: #fff; text-transform: uppercase; text-align: justify;">
                        Absolutely! Embracing the ethos of global collaboration, I thrive in remote work environments.
                        My experience spans international projects, where I have taken advantage communication tools, as
                        email, whatsapp (if required) and video calls, to ensure effective and seamless worldwide
                        support.</div>
                </div>

                <div class="faq-item" style="background: #5700FF;">
                    <div class="faq-question textg backtxt"
                        style="font-size: 3.8vh; height: 10.5vh; text-transform: uppercase; background: #a8ff00;">How
                        long
                        does it typically take to complete a data science project? [+]</div>
                    <div class="faq-answer"
                        style="font-size: 2.3vh; color: #fff; text-transform: uppercase; text-align: justify;">The
                        timeline for a data science project varies based on its complexity and scope. I prioritize
                        thoroughness and precision over speed, ensuring that each project receives the attention it
                        deserves. By aligning closely with your goals, we can establish realistic timelines that
                        prioritize quality outcomes.</div>
                </div>

                <div class="faq-item" style="background: #5700FF;">
                    <div class="faq-question textg backtxt"
                        style="font-size: 3.8vh; height: 8vh; align-items: center; display: flex; text-transform: uppercase; background: #a8ff00;">
                        Do you offer coding support and maintenance services? [+]</div>
                    <div class="faq-answer"
                        style="font-size: 2.3vh; color: #fff; text-transform: uppercase; text-align: justify; ">
                        Certainly! Beyond project completion, I provide ongoing support to ensure the longevity and
                        efficiency of the developed code. Whether it's addressing issues, implementing updates, or
                        refining functionalities, I am committed to the continuous improvement and optimization of your
                        research or data science project.</div>
                </div>

                <div class="faq-item" style="background: #5700FF;">
                    <div class="faq-question textg backtxt"
                        style="font-size: 3.8vh; height: 8vh; align-items: center; display: flex; text-transform: uppercase; background: #a8ff00;">
                        Can you automate or optimize my data analysis codes? [+]</div>
                    <div class="faq-answer"
                        style="font-size: 2.3vh; color: #fff; text-transform: uppercase; text-align: justify;">Indeed!
                        Automation and optimization are integral to my approach. I specialize in streamlining data
                        analysis processes, introducing efficiency through code automation, and consistently seeking
                        opportunities for optimization. This ensures that your data analysis remains not only accurate
                        but also efficient and scalable.</div>
                </div>

                <div class="faq-item" style="background: #5700FF;">
                    <div class="faq-question textg backtxt"
                        style="font-size: 3.8vh; height: 10.5vh; text-transform: uppercase; background: #a8ff00;">Can
                        you
                        integrate third-party tools, platforms and databases into my project? [+]
                    </div>
                    <div class="faq-answer"
                        style="font-size: 2.3vh; color: #fff; text-transform: uppercase; text-align: justify;">Without a
                        doubt! I excel in creating integrated solutions. Whether it's incorporating third-party tools,
                        interfacing with diverse platforms, or integrating databases seamlessly, my approach is rooted
                        in adaptability. I ensure that your project remains versatile and can leverage the best tools
                        available for a holistic and effective solution.</div>
                </div>
            </div>
        </div>
        <div class="col-md-30" style="margin-left: 5.5vw !important; margin-right: -10vw;">
            <image src="{% static 'portfolio/Maneki-NekoDuoTone01.png'%}" alt=""
                style="height: 100%; aspect-ratio: 1 / 1;" loading="lazy" id="img1" onmouseover="toggleImages()"
                onmouseout="toggleImages()"></image>
            <image src="{% static 'portfolio/Maneki-NekoDuoTone02.png'%}" alt=""
                style="height: 100%; aspect-ratio: 1 / 1;" loading="lazy" id="img2" class="hidden"
                onmouseover="toggleImages()" onmouseout="toggleImages()"></image>
        </div>
    </div>

    <script>
        const obj1Height = document.getElementById('obj1').offsetHeight;
        document.getElementById('obj2').style.height = `calc(100vh - ${obj1Height}px)`;
    </script>

    <style>
        .hidden {
            display: none;
        }

        body {
            overflow: hidden;
        }

        .faq-item {
            margin-bottom: 20px;
            /* margin-right: 100px; */
            border: 2px solid #fff;
            overflow: hidden;
            padding-inline: 0px;
        }

        .faq-question {
            cursor: pointer;
            font-weight: bold;
            margin-bottom: -2px;
            padding: 0px 0px 0px 10px;
            border-bottom: 2px solid #fff;
            transition: color 0.5s;
        }

        .faq-answer {
            display: none;
            transition: max-height 0.5s ease-out;
            overflow: hidden;
            padding: 10px;
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var faqItems = document.querySelectorAll('.faq-item');

            faqItems.forEach(function (item) {
                var question = item.querySelector('.faq-question');
                var answer = item.querySelector('.faq-answer');

                question.addEventListener('click', function () {
                    if (answer.style.display !== 'block') {
                        answer.style.display = 'block';
                        question.innerHTML = question.innerHTML.replace('[+]', '[-]');
                        question.style.color = '#a8ff00';
                        question.style.backgroundColor = '#000';
                    } else {
                        answer.style.display = 'none';
                        question.innerHTML = question.innerHTML.replace('[-]', '[+]');
                        question.style.color = '#000';
                        question.style.backgroundColor = '#5700FF';
                    }
                });
            });
        });
    </script>


    <!-- Image exchange -->
    <script>
        // Preload images
        var img1 = new Image();
        img1.src = "{% static 'portfolio/Maneki-NekoDuoTone01.png'%}";
        var img2 = new Image();
        img2.src = "{% static 'portfolio/Maneki-NekoDuoTone02.png'%}";

        // Function to toggle images
        function toggleImages() {
            var img1Element = document.getElementById('img1');
            var img2Element = document.getElementById('img2');
            // Check if img2 is fully loaded before toggling
            if (!img2.complete) {
                img2.onload = function () {
                    img1Element.classList.toggle('hidden');
                    img2Element.classList.toggle('hidden');
                };
            } else {
                img1Element.classList.toggle('hidden');
                img2Element.classList.toggle('hidden');
            }
        }
    </script>


    <!-- FULL SCREEN MENU -->
    <div id="toggle-btn" class="btn">
        <div class="btn-outline btn-outline-1"></div>
        <div class="btn-outline btn-outline-2"></div>
        <div id="hamburger">
            <span class="line line-1" style="color: #fff; background: #fff;"></span>
            <span class="line line-2" style="color: #fff; background: #fff;"></span>
        </div>
    </div>

    <div class="overlay">
        <svg viewBox="0 0 1000 1000">
            <path d="M0 2S175 1 500 1s500 1 500 1V0H0Z"></path>
        </svg>
    </div>

    <div class="menu">
        <div class="primary-menu">
            <div class="menu-container">
                <div class="wrapper">
                    <div class="menu-item">
                        <a style="font-weight: 700;" href="/" class="textv">HOME</a>
                        <div class="menu-item-revealer"></div>
                    </div>

                    <div class="menu-item">
                        <a style="font-weight: 700;" href="/aboutme/" class="textv">ABOUT ME</a>
                        <div class="menu-item-revealer"></div>
                    </div>

                    <div class="menu-item">
                        <a style="font-weight: 700;" href="/skills/" class="textv">SKILLS</a>
                        <div class="menu-item-revealer"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="secondary-menu" style="margin-top: 4vw;">
            <div class="menu-container">
                <div class="wrapper">
                    <div class="menu-item">
                        <a href="/portfoliog/" class="textv">GENERAL PORTFOLIO</a>
                        <div class="menu-item-revealer"></div>
                    </div>

                    <div class="menu-item">
                        <a href="/portfolioa/" class="textv">ACADEMIC PORTFOLIO</a>
                        <div class="menu-item-revealer"></div>
                    </div>

                    <div class="menu-item">
                        <a href="{% url 'blog:posts'%}" class="textv">BLOG</a>
                        <div class="menu-item-revealer"></div>
                    </div>

                    <div class="menu-item">
                        <a href="/contactme/" class="textv">CONTACT</a>
                        <div class="menu-item-revealer"></div>
                    </div>

                    <div class="menu-item">
                        <a href="/fquestions/" class="textv">FREQUENT QUESTIONS</a>
                        <div class="menu-item-revealer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
        integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/CSSRulePlugin.min.js"
        integrity="sha512-zaTjCyJwbhpd8V594wpmUStv6Dy/SnmP7jR+XXnE49z2ayHkSirlNiP4XQc15Zgk+p5gXGe5ZUQYu4yRtShqkQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- ---------------- -->


    <style>
        @media (min-width: 100px) {
            body {
                background: url("{% static 'portfolio/GW06.webp'%}");
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        }

        .blinking {
            animation: blink-animation 0.8s infinite;
        }

        @keyframes blink-animation {
            50% {
                opacity: 0;
            }
        }
    </style>

    <div id="bee">
        <img src="{% static 'portfolio/astroboy.png'%}" />
    </div>

    <script src="{% static 'mouseicon.js' %}"></script>

    <!--Loading transition-->
    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
            $("body").removeClass("preload");
        });
    </script>


    <!-- Fade-in Transition-->
    <script>
        $(document).ready(function () {
            $(".tag").addClass("not-animated");

            function animateVisibleElements() {
                var pageTop = $(document).scrollTop();
                var pageBottom = pageTop + $(window).height();
                var tags = $(".tag.not-animated");

                for (var i = 0; i < tags.length; i++) {
                    var tag = tags[i];

                    if ($(tag).position().top < pageBottom) {
                        $(tag).addClass("visible");
                        $(tag).removeClass("not-animated");
                    }
                }
            }

            animateVisibleElements();

            $(document).on("scroll", function () {
                animateVisibleElements();
            });
        });
    </script>
    <!-- ---------------- -->


    <!-- Fade-in Transition-->
    <script>
        $(document).ready(function () {
            function animateVisibleElements() {
                var tags = $(".tag.not-animated");

                for (var i = 0; i < tags.length; i++) {
                    var tag = tags[i];
                    $(tag).addClass("visible");
                    $(tag).removeClass("not-animated");
                }
            }

            animateVisibleElements();
        });
    </script>
    <!-- ------------------ -->

    <script>
        const tl = gsap.timeline({
            paused: true
        });
        let path = document.querySelector("path");
        let spanBefore = CSSRulePlugin.getRule("#hamburger .line-2");

        gsap.set(spanBefore, { background: "#000" });
        gsap.set(".menu", { visibility: "hidden" });
        gsap.set(".overlay", { opacity: 0, display: "none" });

        function revealMenu() {
            revealMenuItems();

            const hamburger = document.getElementById("hamburger");
            const toggleBtn = document.getElementById("toggle-btn");
            const overlay = document.querySelector(".overlay");


            toggleBtn.onclick = (e) => {
                hamburger.classList.toggle("active");
                tl.reversed(!tl.reversed());
            };
        }
        revealMenu();

        function revealMenuItems() {
            const start = "M0 502S175 272 500 272s500 230 500 230V0H0Z";
            const end = "M0, 1005S175, 995, 500, 995s500, 5, 500, 5V0H0Z";

            const power2 = "power2.inout";
            const power4 = "power4.inout";

            tl.to("#hamburger", 0.7, {
                marginTop: "-5px",
                x: -40,
                y: 40,
                ease: power4
            });
            tl.to(
                "#hamburger .line",
                0.7,
                {
                    background: "#fff",
                    ease: power2
                },
                "<"
            );
            tl.to(
                spanBefore,
                0.7,
                {
                    background: "#fff",
                    ease: power2
                },
                "<"
            );

            tl.to(
                ".btn .btn-outline",
                0.7,
                {
                    x: -40,
                    y: 40,
                    width: "140px",
                    height: "140px",
                    border: "1px solid #e2e2dc",
                    ease: power4
                },
                "<"
            );
            tl.to(
                path,
                0.7,
                {
                    attr: {
                        d: start
                    },
                    ease: power2
                },
                "<"
            ).to(
                path,
                0.7,
                {
                    attr: { d: end },
                    ease: power2
                },
                "-=0.7"
            );

            tl.to(
                ".overlay",
                0.7,
                {
                    opacity: 1,
                    display: "flex",
                    ease: power2
                },
                "-=0.7"
            );

            tl.to(
                ".menu",
                0.7,
                {
                    visibility: "visible"
                },
                "-=0.7"
            );

            tl.to(
                ".menu-item>a",
                0.7,
                {
                    top: 0,
                    ease: "power3.out",
                    stagger: {
                        amount: 0.5
                    }
                },
                "-=0.7"
            ).reverse();

        }

    </script>

    <!-- Automatic min-height Adjustment -->
    <script>
        function setMinHeight() {
            var contentHeight = document.body.scrollHeight;
            document.body.style.minHeight = contentHeight + "px";
        }
        window.addEventListener("load", setMinHeight);
        window.addEventListener("resize", setMinHeight);
    </script>
    <!-- ------------------------------ -->

</body>

</html>