{% extends 'layout3.html' %}

{% block content3 %}

{% load static %}
<div class="text-center">
  <div class="textv">
    <h1>{{post.title}}</h1>
  </div>
  <div class="textv">
    <h2 class="my-2 h5 text-muted">{{post.date|date:'F jS Y'}}</h2>
  </div>
  <img src="{{post.image.url}}" alt="{{post.title}}" class="img-fluid">


  <div class="my-4 textv">

    {{post.description|safe}}
  </div>
</div>

<div class="d-flex justify-content-center">
  <img src="{% static 'portfolio/JV01.gif'%}" alt="GIF animado" width="7%" loading="lazy">
</div>

<div id="gif-url" style="display: flex; justify-content: center; align-items: center; display: none;">
  {% block gif_url %}{% static 'portfolio/BBC02.gif' %}{% endblock %}
</div>

{% endblock %}