{% extends 'layout2.html' %}

{% block content2 %}

{% load static %}

<header class="row tag">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="col-md-4"
    id="svg-container">
    <!--           <defs>
                <filter id="XFmznQhx9lM_1" class="jsx-715889512">
                    <feColorMatrix type="matrix" values="0.31640625 0 0 0 0.33984375 0.99609375 0 0 0 0 -0.99609375 0 0 0 0.99609375 0 0 0 1 0" color-interpolation-filters="sRGB" class="jsx-715889512"></feColorMatrix>
                </filter>
            </defs>-->
    <image href="{% static 'portfolio/Perfil.png'%}" alt="" class="jsx-715889512 imagen-filtrada01" width="100%"
      height="100%" loading="lazy"></image>
  </svg>
  <div class="col-md-8 my-auto p-2">
    <h3 class="tag textg" style="margin-top: 40px  !important;"> <span class="blinking-cursor01"
        style="color: #a8ff00;">&gt_</span> Welcome to the holistic data science world!</h3>
    <div class="textg">
      <h2 style="font-size:39px;">I'm <strong>Sebastián E. Cornejo-Guzmán</strong> 😾🏴 </h2>
      <h6>
        A dedicated researcher and data scientist with a profound passion for unraveling complex patterns and
        transforming data into actionable insights. Rooted in a holistic philosophy, I view the life through a lens that
        values collaboration, equity, and shared knowledge, guided by a deep understanding of nature, economics behavior
        and societal dynamics.
      </h6>
      <h6>
        Personally, I feel that data is not just numbers, rather it's a narrative waiting to be told, a story that can
        shape the future. This belief fuels my passion, guiding my work as I transform raw data into impactful
        strategies, helping researchers and businesses thrive in the digital age.
      </h6>
      <h6>
        From the design intricate data models to guiding teams through the nuances of statistical analysis, I relish
        every step of the data science process. With my expertise and dedication managing projects and contributing to
        specialized geoscience and legislative research, business intelligence and management, I am here to elevate your
        understanding of data, uncover hidden potentials, and guide you toward informed, data-driven decisions.
      </h6>
    </div>
    <div class="tag d-flex justify-content">
      <form class="p-3">
        <div class="p-2 border backtxtv" style="border-color: white;border-width: 2px !important;">
          <h3 class="card-title" style="margin-bottom:0;">08<span style="color: #a8ff00;">+</span></h3>
          <p class="card-text" style="font-size:10px;">Year of Experience</p>
        </div>
      </form>
      <form style="margin-bottom: 30px  !important;" class="p-2" action="/portfolio/" method="get" target="_blank">
        <button type="submit" class="btnretro my-3 btn-lg rounded-0"><strong>View Portfolio &rarr;</strong></button>
      </form>
    </div>
  </div>

</header>

<div class="row tag" style="margin-top: 100px  !important;margin-bottom: 20px  !important;">
  <div class="col-md-8 my-auto p-1" style="margin-left: 10px  !important; margin-right: -17px  !important;">
    <h3 class="tag"
      style="text-align: right;font-size:25.99px;margin-top:20px  !important;margin-right:35px  !important;">
      Disentangling behaviors requires synergistic interests </h3>
    <h1 class="tag"
      style="text-align: right;font-size:35px;margin-right: 35px  !important;margin-bottom: 15px  !important;margin-top: -5px  !important;">
      thus
      <strong class="tag textg" style="font-size:50.1399px;">I'm</strong> focused on <span><strong class="textg"
          style="font-size:39.23px;">social</strong>,
        <strong class="textg" style="font-size:39.23px;">economics</strong> and <strong class="textg"
          style="font-size:39.23px;">environmental</strong> interrelated areas</span>
    </h1>

    <h6 style="text-align: right; margin-right: 35px  !important;">
      <strong style="background-color: white;color: #5700FF;">Multidisciplinary Oceanographic Data Analysis</strong>
    </h6>
    <h6 class="textg tag" style="text-align: right; margin-right: 45px  !important;">
      Hydrodynamic, biogeochemical, and biophysical ocean modeling<span style="color: #a8ff00;font-size:18px;">
        ⯇</span><span style="color: #5700FF;font-size:18px;">⯇</span>
    </h6>
    <h6 class="textg tag" style="text-align: right; margin-right: 45px  !important;">
      Spatio-temporal Variability-Performance of Oceanographic Processes<span style="color: #a8ff00;font-size:18px;">
        ⯇</span><span style="color: #5700FF;font-size:18px;">⯇</span>
    </h6>
    <h6 style="text-align: right; margin-right: 35px  !important;">
      <strong style="background-color: white;color: #5700FF;">Operational Oceanography and Ecosystem Services</strong>
    </h6>
    <h6 class="textg tag" style="text-align: right; margin-right: 45px  !important;">
      Climate Change, Socioeconomic, and Business Consequences<span style="color: #a8ff00;font-size:16px;">
        ⯇</span><span style="color: #5700FF;font-size:18px;">⯇</span>
    </h6>
    <h6 class="textg tag" style="text-align: right; margin-right: 45px  !important;">
      Marine Spatial Planning and Assessment of Environmental Indicators<span style="color: #a8ff00;font-size:18px;">
        ⯇</span><span style="color: #5700FF;font-size:18px;">⯇</span>
    </h6>
    <h6 class="textg tag" style="text-align: right; margin-right: 45px  !important;">
      Impact of hydrodynamic and ecosystem patterns on pelagic communities<span style="color: #a8ff00;font-size:18px;">
        ⯇</span><span style="color: #5700FF;font-size:18px;">⯇</span>
    </h6>
    <h6 style="text-align: right; margin-right: 35px  !important;">
      <strong style="background-color: white;color: #5700FF;">Eco-Business Intelligence</strong>
    </h6>
    <h6 class="textg tag" style="text-align: right; margin-right: 45px  !important;">
      Compliance and "Anti-Crisis" Strategies<span style="color: #a8ff00;font-size:18px;"> ⯇</span><span
        style="color: #5700FF;font-size:18px;">⯇</span>
    </h6>
    <h6 style="text-align: right; margin-right: 35px  !important;">
      <strong style="background-color: white;color: #5700FF;">Popular Science (PopSci), Talks, and Stand-Up
        Comedy</strong>
    </h6>
  </div>
  <div class="col-md-4"
    style="min-height: 50vh;display: grid;place-items: center;padding: 0;margin: 0;box-sizing: border-box;margin-left: -10px;margin-top: 20px;">
    <div class="art" style="margin-top: -60 !important;">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </div>
</div>

<div class="tag" style="margin-top: 0px  !important;">
  <div class="row justify-content-center my-3" style="margin-top: 100px  !important;">
    <div class="text-center textg col-md-8">
      <h3>My Main Work Tools Are Essential</h3>
      <p style="margin-bottom:0;">Each skill, tool or philosophy learned adds up, regardless of the universe from which
        it
        comes, as long as it allows us to reach the objectives</p>
    </div>
  </div>
  <ul class="cloud" role="navigation" aria-label="Webdev word cloud" style="margin-top: 50px  !important;">
    <li><a href="#" data-weight="9">Python</a></li>
    <li><a href="#" data-weight="9">R</a></li>
    <li><a href="#" data-weight="9">SQL</a></li>
    <li><a href="#" data-weight="9">Matlab</a></li>
    <li><a href="#" data-weight="8">ROMS-CROCO</a></li>
    <li><a href="#" data-weight="5">Empirical Orthogonal Functions</a></li>
    <li><a href="#" data-weight="7">ArcGIS</a></li>
    <li><a href="#" data-weight="7">Excel</a></li>
    <li><a href="#" data-weight="7">PowerPoint</a></li>
    <li><a href="#" data-weight="7">Word</a></li>
    <li><a href="#" data-weight="7">LaTeX</a></li>
    <li><a href="#" data-weight="6">Microsoft Windows</a></li>
    <li><a href="#" data-weight="4">Global Mapping Tool</a></li>
    <li><a href="#" data-weight="5">Spectral analysis</a></li>
    <li><a href="#" data-weight="3">Principles of economics</a></li>
    <li><a href="#" data-weight="4">Virtual Box</a></li>
    <li><a href="#" data-weight="4">VMware</a></li>
    <li><a href="#" data-weight="6">Git</a></li>
    <li><a href="#" data-weight="8">Adobe Creative Cloud</a></li>
    <li><a href="#" data-weight="1">Power BI</a></li>
    <li><a href="#" data-weight="1">Tableau</a></li>
    <li><a href="#" data-weight="4">Google Earth Studio & Engine</a></li>
    <li><a href="#" data-weight="4">GPT-4</a></li>
    <li><a href="#" data-weight="6">Linux</a></li>
    <li><a href="#" data-weight="5">NCO</a></li>
    <li><a href="#" data-weight="5">CDO</a></li>
    <li><a href="#" data-weight="5">bash scripts</a></li>
    <li><a href="#" data-weight="3">Fortran</a></li>
    <li><a href="#" data-weight="3">Servers</a></li>
    <li><a href="#" data-weight="6">Machine Learning</a></li>
    <li><a href="#" data-weight="8">WRF</a></li>
    <li><a href="#" data-weight="8">Ichthyop</a></li>
    <li><a href="#" data-weight="4">JavaScript</a></li>
    <li><a href="#" data-weight="8">HTML</a></li>
    <li><a href="#" data-weight="6">CSS</a></li>
    <li><a href="#" data-weight="8">Applied Statistics</a></li>
    <li><a href="#" data-weight="4">Navicat</a></li>
    <li><a href="#" data-weight="5">VS Code</a></li>
  </ul>
</div>

<div class="tag" style="margin-top: 0px  !important;">
  <div class="row justify-content-center my-3" style="margin-top: 100px  !important;">
    <div class="text-center textg col-md-8">
      <h3>Milestones of My Career & Life</h3>
      <p style="margin-bottom:25px;">Throughout my career and life journey, I've embraced every challenge as an
        opportunity to learn, grow, and innovate, shaping my path with passion and purpose</p>
    </div>
  </div>

  <section class="timeline" style="margin-bottom: 3px  !important;">
    <div class="text-center" style="margin-bottom: -42px  !important;">
      <span
        style="background-color: #5700FF; color: white; font-size:32px; border:3px solid white; padding: 10px;"><strong>Right
          Now<span style="color: #a8ff00;">...</span></strong></span>
    </div>
    <ul>
      <li>
        <div class="backtxt textg">
          <time>2023</time>
          <span style="color: white;"><strong> Navigating Global Waters </strong></span>
          <p style="color: white;"> Steering through of marine spatial planning for the Chilean Patagonia alongside
            WWF-EE.UU. haven’t be just a consultancy; it has be a profound lesson in ecosystems stewardship. The ability
            to influence policies and conservation efforts underscored the immense potential within collaborative
            action,
            igniting on me a sense of responsibility for concrete actions, aligning strategies with UNESCO's stringent
            standards </p>
        </div>
      </li>
      <li>
        <div class="backtxt textg">
          <time>2022</time>
          <span style="color: white;"><strong> Influencing National Agendas: </strong></span>
          <p style="color: white;"> Standing at the crossroads of national decision-making processes was both a
            privilege
            and a challenge. It wasn’t just about data; it was about bridging perspectives, fostering understanding, and
            catalyzing change. This experience instilled a deep conviction that comprehensive collaborations are prioval
            in front of organizations requirements as United Nations Development Program or the Chilean Ministry for the
            Environment </p>
        </div>
      </li>
      <li>
        <div class="backtxt textg">
          <time>2021</time>
          <span style="color: white;"><strong> Crafting Businees and Analytical Strategies: </strong></span>
          <p style="color: white;"> Working a methodology that could dissect complex socio-ecological patterns was more
            than an achievement; it was a inner revolution. Unraveling the intricacies of coastal activities not only
            enhanced my analytical prowess but also showed me (and peers) the transformative potential of data-driven
            insights. It was a testament to the catalytic power of information, opening doors to novel perspectives and
            innovative problem-solving associates to coastal regulations and activities </p>
        </div>
      </li>
      <li>
        <div class="backtxt textg">
          <time>2020</time>
          <span style="color: white;"><strong> Collaborating with International Initiatives: </strong></span>
          <p style="color: white;"> Teaming up with NOAA was more than a professional milestone; it was a voyage of
            international camaraderie. Being part of initiatives that transcended borders in a West-Coast Ecosystems and
            Fishing project (EE.UU.) reinforced the idea that knowledge knows no boundaries. This international synergy
            underscored the beauty of shared endeavors and that collective efforts can create ripples of change across
            countries </p>
        </div>
      </li>
      <li>
        <div class="backtxt textg">
          <time>2019</time>
          <span style="color: white;"><strong> Fostering Scientific Inquiry: </strong></span>
          <p style="color: white;"> Taking the challenge of my first Fondecyt project wasn’t just about academic
            validation; it was a testament to the potency of curiosity. The freedom to explore uncharted territories of
            knowledge, question established norms, and delve into the depths of scientific inquiry marked a profound
            personal and intellectual growth. This usher in me a new era of scientific exploration and inquiry </p>
        </div>
      </li>
      <li>
        <div class="backtxt textg">
          <time>2018</time>
          <span style="color: white;"><strong> Professional Research Initiation: </strong></span>
          <p style="color: white;"> Graduating and stepping into the research community, ceasing to be a
            proto-scientist,
            was a moment of self-discovery and demonstration of how far I can go. It was a realization that I wasn’t
            just
            joining a profession; I was becoming a part of a legacy, inheriting the responsibility to contribute
            meaningfully to the collective knowledge of humanity </p>
        </div>
      </li>
      <li>
        <div class="backtxt textg">
          <time>2017</time>
          <span style="color: white;"><strong> Multidisciplinary Collaboration </strong></span>
          <p style="color: white;"> Becoming part of a diverse, collaborative team was more than an introduction to
            teamwork; it was an immersion into the mosaic of human perspectives in front of a objective. Showing me that
            true innovation emerges from the intersection of unique ideas and experiences. Embracing the richness of
            varied viewpoints not only broadened my understanding but also introduced me to how to work in teams with
            varied ideas and ways of performing while still being a "proto-scientist" </p>
        </div>
      </li>
      <li>
        <div class="backtxt textg">
          <time>2015-2016</time>
          <span style="color: white;"><strong> First Congresses and Ideas: </strong></span>
          <p style="color: white;"> Presenting my early research wasn’t just about disseminating knowledge; it was to
            begin a path of sharing with peers and communicating science. It was an affirmation that ideas, when shared,
            can transcend barriers and create a shared platform for learning. The exchange of insights with fellow
            researchers from diverse backgrounds illuminated in me the universality of human curiosity, reinforcing the
            idea that every voice contributes to the mosaic of knowledge </p>
        </div>
      </li>
      <li>
        <div class="backtxt textg">
          <time>2015</time>
          <span style="color: white;"><strong> A Young "Proto-Researcher" </strong></span>
          <p style="color: white;"> Contributing to a nationally and internationally recognized project was more than my
            first academic achievement (still being a student); it was a realization of the power of collective endeavor
            facing an investigation in a remote part of the world. It was an acknowledgment that meaningful change
            requires the collaboration of passionate individuals across borders, united by a shared vision. This
            experience showed me the immense potential that emerges when individuals with diverse expertise and
            backgrounds unite for a common cause, and it was probably the starting point from where I wanted to
            contribute
            to humanity and its development </p>
        </div>
      </li>
    </ul>
  </section>
</div>

<div class="text-center tag" style="margin-top: -42px  !important; font-size:28px; border:5px dashed #a8ff00;">
  <p style="color: #a8ff00;margin-top: 40px  !important;"><strong>Pre(professional)history🦕</strong></p>
  <p
    style="font-size:18px; margin-bottom: 0px  !important; text-align: justify; margin-left: 50px; margin-right: 50px;">
    In the bustling kitchens of KFC, China Wok, and Pizza Hut, I found my first lessons in the art of customer
    service and culinary expertise. Yet, beyond the sizzle of the grill, these fast-food chains became classrooms of
    administration and sales strategies. It was here, amid the hustle, that I learned the delicate balance of
    efficiency and customer satisfaction, essential skills that would later anchor my approach in the world of
    business.
  </p>
  <p
    style="font-size:18px; margin-bottom: 0px  !important; text-align: justify; margin-left: 50px; margin-right: 50px;">
    Simultaneously, summers at LED lighting and solar systems business in PowerEnergy LTDA., sculpted my
    understanding of commerce. As a versatile contributor, I navigated roles in sales, administration, marketing,
    and technical functions. From market studies to BI database management, from graphic editing tools to digital
    marketing strategies, I delved into the intricate mechanics of business outside the realm of scientific
    academia.
  </p>
  <p
    style="font-size:18px; margin-bottom: 43px  !important; text-align: justify; margin-left: 50px; margin-right: 50px;">
    These experiences, non-professionals yet profound, unlocked a world outside Academic Research where I learned the
    quiet power of practical knowledge. They were lessons in adaptability and innovation, shaping my outlook of the
    inner world of business and its develoment.
  </p>
</div>


<div class="row tag" style="margin-top: 100px  !important;margin-bottom: 4.8px  !important;">
  <div class="col-md-8 my-auto p-1" style="margin-left: 10px  !important; margin-right: -17px  !important;">
    <h3 class="tag"
      style="text-align: right;font-size:24.5px;margin-top:-5.5px  !important;margin-right:54px  !important;">
      Navigate through the space, time and ocean was my school</h3>
    <h1 class="tag"
      style="text-align: right;font-size:35px;margin-right: 54px  !important;margin-bottom: 15px  !important;margin-top: -5px  !important;">
      <span class="textg">
      thus
      <strong class="tag" style="color: #a8ff00; font-size:50.1399px;">Statistical</strong> <span
        style="color: #a8ff00; font-size:50.1399px;">analysis</span>,
      <strong style="color: #a8ff00; font-size:39.23px;">models</strong> <span style="font-size:24.23px;">and</span> the
      <strong style="color: #a8ff00; font-size:39.23px;">sea</strong> were my main <strong><span
          style="color: #a8ff00; font-size:50.1399px;">academic</span> <span style="color: #a8ff00; font-size:39.23px;">bases</span></strong>
        </span>
    </h1>

    <h6 style="text-align: right; margin-right: 54px  !important; font-size:29.1px;">
      <strong style="background-color: white;color: #5700FF;"><span class="textg">Scientific Computing</span></strong>
      <strong style="background-color: white;color: #5700FF;"><span class="textg">Linux, Scripts and GMT</span></strong>
    </h6>
    <h6 style="text-align: right; margin-right: 54px  !important; font-size:29.1px;">
      <strong style="background-color: white;color: #5700FF;"><span class="textg">Numerical Programming</span></strong>
      <strong style="background-color: white;color: #5700FF;"><span class="textg">Statistical Data Analysis</span></strong>
    </h6>
    <h6 style="text-align: right; margin-right: 54px  !important; font-size:29.1px;">
      <strong style="background-color: white;color: #5700FF;"><span class="textg">Remote Sensing and GIS</span></strong>
      <strong style="background-color: white;color: #5700FF;"><span class="textg">Applied Ocean Modeling</span></strong>
    </h6>
    <h6 style="text-align: right; margin-right: 54px  !important; font-size:29.1px;">
      <strong style="background-color: white;color: #5700FF;"><span class="textg">Coupled and Operational Ocean Processes</span></strong>
    </h6>
    <h6 style="text-align: right; margin-right: 54px  !important; font-size:29.1px;">
      <strong style="background-color: white;color: #5700FF;"><span class="textg">Environmental Legislation</span></strong>
    </h6>
    <h6 style="text-align: right; margin-right: 54px  !important; font-size:29.1px;">
      <strong style="background-color: white;color: #5700FF;"><span class="textg">Principles of Economics & Project Evaluation</span></strong>
    </h6>
    <div class="border backtxtv" style="border-color: white;border-width: 2px !important; margin-right: 54px  !important; margin-top: 20px  !important;">
      <h3 class="card-title" style="margin-bottom:0;font-size:29.1px;">Degrees<span style="color: #a8ff00;">:</span></h3>
    </div>
    <div class="border" style="border-color: white;border-width: 2px !important;margin-right: 54px  !important;margin-top: -2px  !important;">
    <h6 class="tag" style="text-align: right; margin-right: 15px  !important; font-size:24.1px; margin-top: 11px  !important;">
      <a style="text-decoration: none; color: white;" href="{% static 'portfolio/CERT_GRADO_18284829.pdf' %}" target="_blank"><span class="textg">Bachelor’s degree in Geophysics</span></a>
      <span style="color: #a8ff00;font-size:18px;">⯇</span><span style="color: #5700FF;font-size:18px;">⯇</span>
    </h6>
    <h6 class="tag" style="text-align: right; margin-right: 15px  !important; font-size:24.1px; margin-top: 8px  !important;">
      <a style="text-decoration: none; color: white;" href="{% static 'portfolio/CERT_TITULO_18284829.pdf' %}" target="_blank"><span class="textg">Degree in Geophysics</span></a>
      <span style="color: #a8ff00;font-size:18px;">⯇</span><span style="color: #5700FF;font-size:18px;">⯇</span>
    </h6>
    <form style="text-align: right; margin-right: 15px  !important; margin-top: -10px  !important;" action="https://www.geofisica.udec.cl/" method="get" target="_blank">
      <button type="submit" class="btnretro my-3 btn-lg rounded-0"><strong>More About DGEO &rarr;</strong></button>
    </form>
  </div>
  </div>
  <!-- <div class="col-md-4"
    style="min-height: 50vh;display: grid;place-items: center;padding: 0;margin: 0;box-sizing: border-box;margin-left: -10px;margin-top: 20px;">
    <image href="{% static 'portfolio/YoSeaBitDuoTone01.png'%}" alt="" width="100%"
      height="100%" loading="lazy"></image>
  </div> -->
  <div class="col-md-4" style="margin-left: -38px;" onmouseover="intercambiarImagenes()" onmouseout="restablecerImagenes()">
    <img src="{% static 'portfolio/YoSeaDuoTone01.png'%}" alt="" width="110%" loading="lazy" id="imagen1"></img>
    <img src="{% static 'portfolio/YoSeaDuoTone02.png'%}" alt="" width="110%" loading="lazy" id="imagen2"></img>
  </div>
</div>

<script>
var intercambiadas = false;
var imagen1 = document.getElementById('imagen1');
var imagen2 = document.getElementById('imagen2');

function intercambiarImagenes() {
    if (!intercambiadas) {
        var parent = imagen1.parentNode;
        var temp = document.createElement('div');
        parent.insertBefore(temp, imagen1);
        parent.insertBefore(imagen1, imagen2);
        parent.insertBefore(imagen2, temp);
        parent.removeChild(temp);

        intercambiadas = true;
    }
}

function restablecerImagenes() {
    if (intercambiadas) {
        var parent = imagen1.parentNode;
        var temp = document.createElement('div');
        parent.insertBefore(temp, imagen1);
        parent.insertBefore(imagen2, imagen1);
        parent.insertBefore(imagen1, temp);
        parent.removeChild(temp);

        intercambiadas = false;
    }
}

</script>

<div>
  <img src="{% static 'portfolio/EVAPIXEL02.gif'%}" alt="GIF animado" width="5%" loading="lazy">
  <img src="{% static 'portfolio/EVAPIXEL01.gif'%}" alt="GIF animado" width="5%" loading="lazy">
</div>

<div id="gif-url" style="display: flex; justify-content: center; align-items: center; display: none;">
  {% block gif_url %}{% static 'portfolio/MSG02.webp' %}{% endblock %}
</div> 

<!-- <div style="display: flex; justify-content: center; align-items: center;">
  <style>
    @media (min-width: 100px) {
      body {
        background: url("{% static 'portfolio/HXH02.gif'%}");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  </style>
</div> -->

<!--Blinking Console Symbol-->
<script>
  // Código JavaScript aquí
  const cursor = document.querySelector('.blinking-cursor01');

  function blinkCursor() {
    cursor.style.visibility = (cursor.style.visibility === 'visible') ? 'hidden' : 'visible';
  }

  setInterval(blinkCursor, 500);
</script>

<!--Zoom Profile Image-->
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>>-->
<script>
  $(document).ready(function () {
    var svgContainer = $("#svg-container");
    var imagenFiltrada = $(".imagen-filtrada01");

    svgContainer.mousemove(function (event) {
      var offsetX = event.pageX - svgContainer.offset().left;
      var offsetY = event.pageY - svgContainer.offset().top;
      var centerX = offsetX / svgContainer.width() - 0.5;
      var centerY = offsetY / svgContainer.height() - 0.5;
      var scale = 1.5; // Factor de escala para el zoom

      imagenFiltrada.css("transform-origin", (50 + 50 * centerX) + "% " + (50 + 50 * centerY) + "%");
      imagenFiltrada.css("transform", "scale(" + scale + ")");
    });

    svgContainer.mouseleave(function () {
      imagenFiltrada.css("transform", "scale(1)");
    });
  });
</script>

<!--Advanced Lazy Loading-->
<script>
  // Selecciona todas las imágenes con la clase .lazy
  var lazyImages = document.querySelectorAll('.imagen-filtrada01');

  var options = {
    root: null, // el viewport
    rootMargin: '0px',
    threshold: 0.1 // 10% de la imagen debe estar visible para cargarla
  };

  var imageObserver = new IntersectionObserver(function (entries, observer) {
    entries.forEach(function (entry) {
      if (entry.isIntersecting) {
        var lazyImage = entry.target;
        lazyImage.src = lazyImage.dataset.src; // Cambia el src con el valor del atributo data-src
        lazyImage.onload = function () {
          lazyImage.classList.add('loaded'); // Agrega una clase cuando la imagen está cargada (opcional)
        };
        imageObserver.unobserve(lazyImage); // Deja de observar la imagen una vez que se carga
      }
    });
  }, options);

  // Observa cada imagen con la clase .imagen-filtrada
  lazyImages.forEach(function (image) {
    imageObserver.observe(image);
  });

</script>

<!--Timeline experience-->
<script>
  (function () {
    "use strict";

    // define variables
    var items = document.querySelectorAll(".timeline li");

    // check if an element is in viewport
    // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
    function isElementInViewport(el) {
      var rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    function callbackFunc() {
      for (var i = 0; i < items.length; i++) {
        if (isElementInViewport(items[i])) {
          items[i].classList.add("in-view");
        }
      }
    }

    // listen for events
    window.addEventListener("load", callbackFunc);
    window.addEventListener("resize", callbackFunc);
    window.addEventListener("scroll", callbackFunc);
  })();
</script>

{% endblock %}